<h1>Error: user not found</h1>
{{#if username}}
<p>We could not find a user with username: {{username}}</p>
{{/if}}
{{#if email}}
<p>We could not find a user with email: {{email}}</p>
{{/if}}
<p>Return to the <a href="/users">userlist</a></p>